USE [master]
GO
/****** Object:  Database [AcademyFitnessMusaeva]    Script Date: 02.03.2022 9:12:15 ******/
CREATE DATABASE [AcademyFitnessMusaeva]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AcademyFitnessMusaeva', FILENAME = N'E:\!!!Лабораторные ИСПРО\Академия фитнеса\AcademyFitnessMusaeva.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AcademyFitnessMusaeva_log', FILENAME = N'E:\!!!Лабораторные ИСПРО\Академия фитнеса\AcademyFitnessMusaeva_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AcademyFitnessMusaeva].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AcademyFitnessMusaeva]
GO
/****** Object:  Table [dbo].[CourseRegistration]    Script Date: 02.03.2022 9:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseRegistration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrainerId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[IsDone] [bit] NOT NULL,
	[TotalPoint] [int] NOT NULL,
	[CertificateImage] [image] NULL,
	[Comment] [nvarchar](100) NULL,
 CONSTRAINT [PK_CourseRegistration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 02.03.2022 9:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainers]    Script Date: 02.03.2022 9:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[CallNumber] [decimal](13, 0) NOT NULL,
 CONSTRAINT [PK_Trainer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CourseRegistration] ON 

INSERT [dbo].[CourseRegistration] ([Id], [TrainerId], [CourseId], [CreatedDate], [IsDone], [TotalPoint], [CertificateImage], [Comment]) VALUES (3, 4, 1, CAST(N'2021-12-21' AS Date), 1, 30, NULL, NULL)
INSERT [dbo].[CourseRegistration] ([Id], [TrainerId], [CourseId], [CreatedDate], [IsDone], [TotalPoint], [CertificateImage], [Comment]) VALUES (4, 5, 2, CAST(N'2021-12-12' AS Date), 0, 50, NULL, NULL)
INSERT [dbo].[CourseRegistration] ([Id], [TrainerId], [CourseId], [CreatedDate], [IsDone], [TotalPoint], [CertificateImage], [Comment]) VALUES (5, 1, 5, CAST(N'2021-12-14' AS Date), 1, 60, NULL, N'')
SET IDENTITY_INSERT [dbo].[CourseRegistration] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [Title]) VALUES (1, N'Пилатес')
INSERT [dbo].[Courses] ([Id], [Title]) VALUES (2, N'Аэробика')
INSERT [dbo].[Courses] ([Id], [Title]) VALUES (3, N'Стретчинг')
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Trainers] ON 

INSERT [dbo].[Trainers] ([Id], [Name], [Surname], [CallNumber]) VALUES (1, N'Аминат', N'Абдулазизова', CAST(89632229984 AS Decimal(13, 0)))
INSERT [dbo].[Trainers] ([Id], [Name], [Surname], [CallNumber]) VALUES (2, N'Альбина', N'Назарлиева', CAST(89035564484 AS Decimal(13, 0)))
INSERT [dbo].[Trainers] ([Id], [Name], [Surname], [CallNumber]) VALUES (3, N'Галимат', N'Куратова', CAST(88725554444 AS Decimal(13, 0)))
SET IDENTITY_INSERT [dbo].[Trainers] OFF
GO
ALTER TABLE [dbo].[CourseRegistration]  WITH CHECK ADD  CONSTRAINT [FK_CourseRegistration_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[CourseRegistration] CHECK CONSTRAINT [FK_CourseRegistration_Course]
GO
ALTER TABLE [dbo].[CourseRegistration]  WITH CHECK ADD  CONSTRAINT [FK_CourseRegistration_Trainers] FOREIGN KEY([TrainerId])
REFERENCES [dbo].[Trainers] ([Id])
GO
ALTER TABLE [dbo].[CourseRegistration] CHECK CONSTRAINT [FK_CourseRegistration_Trainers]
GO
USE [master]
GO
